@media screen and (min-width: 00px) {
/*
	.errorwrapper {
		width: 400px; 
		height:300px;
		position: absolute;
		left: calc(50vw - 125px);
		border: 1px solid white;
		border-radius: 5px;
		font-weight: 100;
		font-size: 1.3em;
		text-align: right;


	}
	.signinwrapper {
		border: 0px;
		left: 0px;
		font-size: 1em;
	}
	*/
/*	.container{

		width: 500px;
	}*/

}