<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 
  <link href="static/sagastyle.css" rel="stylesheet">
  <script type="text/javascript" src="static/saga.js"></script>

   
  <title>blog name</title>


</head>
  <body class="blogbody">
	<header class="header"> <img src = "/static/sagaLogo.svg" class = "smallLogo"> <div class="signin"> <a href="/logout">log out</a></div>
	</header>
	<main>
	<header class="blogHero">
		<!-- <img src="/static/bloghero_tower.jpg" class="blogHeroImage"> -->
		<h1 class="blogname">{{blogname}}need a blog name character limit!
		</h1>
		<section class="buttonwrap"><a href="/newpost"><section class="loginSubmit newpost"> NEW POST</section></a></section>

	</header>

	<nav class="blognavwrap"> 
	<h3 class="blognav">about</h3> <h3 class="blognav">archive</h3>
	</nav>
	<div class="clear"></div>

	{% for element in blogposts%}

	<article class="wholepost">
	<article class="blogpost">
	<header class="blogheader"><h2 class="blogtitle">{{element.subject}}</h2>
	<h3>by {{element.author}} on {{element.created}}</h3>
	</header>

	<section class="postcontent">

	{{element.content |safe}}

	</section>

	</article>

	<footer class="blogpostoptions">
		<div class="optionswrapper">
		<a href="/_delete/{{element.identity}}"><h3 class="option"> <span class="entypo-cup"></span></h3></a>
		<a href="/_edit/{{element.identity}}"><h3 class="option"> <span class="entypo-pencil"></span></h3></a>
		<h3 class="option" id="button{{loop.index}}"> <span class="entypo-chat"></span></h3>
		<a href="/{{element.identity}}"><h3 class="option"> <span class="entypo-infinity"></span></h3></a>
		</div>
	</footer>

	<section class="commentwrap" id="comment{{loop.index}}">

	<h3>comments on {{element.subject}}</h3>

	<article class="singlecomment">
	<section class="commentcontent">
	 <p>This arrangement of elements is derived from <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">the MDN website</a>. I really loved it when you said <blockquote>Etiam adipiscing, crunk for sure aliquizzle , doggy sure lacinia doggy, a sagittizzle nulla the bizzle izzle fo shizzle. Suspendisse i'm in the shizzle mattizzle pede. </blockquote> </p>
	 </section>
      <footer>
        <p>
          Posted on
          <time datetime="2015-05-16 19:00">May 16</time>
          by <a href="link to lisa's blog">Lisa.</a>
        </p>

      </footer>


	</article>
	<article class="singlecomment">
	<section class="commentcontent">
	 <p>This arrangement of elements is derived from <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">the MDN website</a>. I really loved it when you said <blockquote>Etiam adipiscing, crunk for sure aliquizzle , doggy sure lacinia doggy, a sagittizzle nulla the bizzle izzle fo shizzle. Suspendisse i'm in the shizzle mattizzle pede. </blockquote> </p>
	 </section>
      <footer>
        <p>
          Posted on
          <time datetime="2015-05-16 19:00">May 16</time>
          by <a href="link to lisa's blog">Lisa.</a>
        </p>

      </footer>


	</article>



      <footer><p id="remove{{loop.index}}">click to hide comments</p>
      </footer>
	</section>
	</article>

	{%endfor%}

	</main>

	<script>


	{% for element in blogposts%}
	document.getElementById('button{{loop.index}}').onclick = function() {
	document.getElementById('comment{{loop.index}}').style.display="block";
	}
	document.getElementById('remove{{loop.index}}').onclick = function() {
	document.getElementById('comment{{loop.index}}').style.display="none";
	}

	{%endfor%}


// 		document.getElementById('comment'+String(i)).style.display="none";

// }

	</script>
   
  </body>
</html>
