<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 
  <link href="static/sagastyle.css" rel="stylesheet">
  <link href="static/{{userbuttons}}.css" rel="stylesheet">
  <title>blog name</title>

  <style>
  .permalink{
  	display: none;
  }
  .blogHero {
    background-image: url(static/{{image}});

    }
  </style>


</head>
  <body class="blogbody">
	<header class="header"> <img src = "/static/sagaLogo.svg" class = "smallLogo"> <span class="toprightlinks"> <a href="/logout" class="logout">log out</a> <a href="/login" class="login">log in</a></span>
	</header>
	<main>
	<header class="blogHero">
		<!-- <img src="/static/bloghero_tower.jpg" class="blogHeroImage"> -->
		<h1 class="blogname"><a href="/{{author}}">{{blogname}}</a>
		</h1>
		<section class="buttonwrap"><a href="/newpost"><section class="loginSubmit newpost"> NEW POST</section></a></section>

	</header>

	<nav class="blognavwrap"> 
	<h3 class="blognav">about</h3> <h3 class="blognav">archive</h3>
	</nav>
	<div class="clear"></div>



	<article class="wholepost">
	<article class="blogpost">
	<header class="blogheader"><h2 class="blogtitle">{{subject}}</h2>
	<h3>by {{author}} on {{created}}. {{likeslength}} people like this post.</h3>
	</header>

	<section class="postcontent">
	{{content |safe}}

	</section>

	</article>

	<footer class="blogpostoptions">
		<div class="optionswrapper">
		<a href="/_like/{{identity}}"><h3 class="option like"> <span class="entypo-heart"></span></h3></a>
		<a href="/_delete/{{identity}}"><h3 class="option delete"> <span class="entypo-cup"></span></h3></a>
		<a href="/_edit/{{identity}}"><h3 class="option edit"> <span class="entypo-pencil"></span></h3></a>
		<h3 class="option commentbutton" id="onlybutton"> <span class="entypo-chat"></span></h3>
		
		</div>
	</footer>

	<section class="commentwrap" id="onlycomment">

	<h3>comments on {{subject}}</h3>

	<article class="singlecomment">
	<section class="commentcontent">
	 <p>This arrangement of elements is derived from <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">the MDN website</a>. I really loved it when you said <blockquote>Etiam adipiscing, crunk for sure aliquizzle , doggy sure lacinia doggy, a sagittizzle nulla the bizzle izzle fo shizzle. Suspendisse i'm in the shizzle mattizzle pede. </blockquote> </p>
	 </section>
      <footer>
        <p>
          Posted on
          <time datetime="2015-05-16 19:00">May 16</time>
          by <a href="link to lisa's blog">Lisa.</a>
        </p>

      </footer>


	</article>
	<article class="singlecomment">
	<section class="commentcontent">
	 <p>This arrangement of elements is derived from <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">the MDN website</a>. I really loved it when you said <blockquote>Etiam adipiscing, crunk for sure aliquizzle , doggy sure lacinia doggy, a sagittizzle nulla the bizzle izzle fo shizzle. Suspendisse i'm in the shizzle mattizzle pede. </blockquote> </p>
	 </section>
      <footer>
        <p>
          Posted on
          <time datetime="2015-05-16 19:00">May 16</time>
          by <a href="link to lisa's blog">Lisa.</a>
        </p>

      </footer>


	</article>



      <footer><p id="onlyremove">click to hide comments</p>
      </footer>
	</section>
	</article>


	</main>
   <script>
   	document.getElementById('onlybutton').onclick = function() {
	document.getElementById('onlycomment').style.display="block";
	}
	document.getElementById('onlyremove').onclick = function() {
	document.getElementById('onlycomment').style.display="none";
	}

   </script>
  </body>
</html>
