<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
		<link href="static/sagastyle.css" rel="stylesheet">
		<link href="static/{{user_buttons}}.css" rel="stylesheet">
		<script src="static/saga.js"></script>
		<title>{{blog_name}} on saga</title>
		<style>
		/*The only other option besides this was making a css file
         for every single possible blog hero image. This seems better. */
			.blogHero {
				background-image: url(static/{{image}});
			}
		/*this is for showing/hiding errors
		TODO: turn these into HTML hidden attributes*/
			{% if error == "other" %}
				.edit_delete {
					display: block;
				}
			{% endif %}

			{% if error == "self" %}
				.like_error {
					display: block;
				}
			{% endif %}

			{% if website_type == "single" %}
				.permalink {
					display: none;
				}
			{% endif %}
		</style>
	</head>
	<body class="blogbody">
		<header class="header">
			<a href="/">
				<img src = "/static/sagaLogo.svg" class = "smallLogo">
			</a>
			<span class="toprightlinks">
				<a href="/logout" class="logout">log out</a>
				<a href="/login" class="login">log in</a>
			</span>
		</header>
		<main>
			<header class="blogHero">
				<a href="{{username}}"><h1 class="blogname">{{blog_name}}</h1></a>
				<section class="buttonwrap">
					<a href="/newpost">
						<section class="loginSubmit newpost">
							NEW POST
						</section>
					</a>
				</section>
			</header>
			<!-- TODO: Turn these into actual links. Add the about page and archive page features. -->
			<nav class="blognavwrap">
				<h3 class="blognav">about</h3>
				<h3 class="blognav">archive</h3>
			</nav>
			<!-- <div class="clear"></div> -->
			<!-- Error messages. Usually hidden: -->
			<section class="error_msg like_error hidden" id="like_error">
				dude,
				<br>
				I'm sorry to tell you this,
				<br>
				but you can't like your own post.
				<br>
				<br>
				<button class="loginSubmit" id="like_error_button">
					ok fine
				</button>
			</section>
			<section class="error_msg edit_delete hidden" id="edit_delete">
				you're not {{error_author}}!
				<br>
				you can't do that!
				<br>
				<br>
				<button class="loginSubmit" id="edit_delete_button">
					oops
				</button>
			</section>

			{% for post in blog_posts %}
				<article class="wholepost">
					<article class="blogpost">
						<header class="blogheader">
							<h2 class="blogtitle">{{post.subject}}</h2>
							<h3>
								by {{post.author}}  -  {{post.created.strftime("%H:%M %A %d %B %Y")}}.
								<br>
								{{post.likes_length}} people like this post.
							</h3>
						</header>
					<section class="postcontent">
						{{post.content |safe}}
					</section>
					<!-- Here I've added a marker of when the post was last edited, but it
					only appears when last_edited is (definitely) different from created.
					It's necessary to strftime both because the milliseconds in the normal
					formatting automatically make the times different from one another. -->
						{% if post.created.strftime("%H:%M %A %d %B %Y") != post.last_edited.strftime("%H:%M %A %d %B %Y") %}
							<h4 class="posteditnote">
								last edited {{post.last_edited.strftime("%H:%M %A %d %B %Y")}}
							</h4>
						{%endif%}
					</article>
					<footer class="blogpostoptions">
						<div class="optionswrapper">
						<!-- TODO: make these icons accessible with aria-hidden-->
							<a href="/_like/{{post.identity}}"><h3 class="option like"><span class="entypo-heart"></span></h3></a>
							<a href="/_delete/{{post.identity}}"><h3 class="option delete"><span class="entypo-cup"></span></h3></a>
							<a href="/_edit/{{post.identity}}"><h3 class="option edit"><span class="entypo-pencil"></span></h3>
							</a><h3 class="option commentbutton" id="button{{loop.index}}"><span class="entypo-chat"></span></h3>
							<a href="/{{post.identity}}"><h3 class="option permalink"><span class="entypo-infinity"></span></h3></a>
						</div>
					</footer>

					<section class="commentwrap" id="comment{{loop.index}}">
						<h3>comments on {{post.subject}}</h3>
						<!-- Below is my solution to sorting the comments into the right posts,
						since they're all in the cursor. It says, only put a comment here if that comment
						has the same post_identity as this post. (A comment's post_identity records which
						post it was in response to.) I didn't want to store the dates in the database
						post-strftime because if I'm right, that would make them strings instead of
						data-time objects.-->
						{% for comment in comments if comment.post_identity==post.identity%}
							<article class="singlecomment">
								<section class="commentcontent">
									{{comment.content}}
								</section>
								<footer>
									<p>
										Posted at <time>{{comment.created.strftime("%H:%M on %A %d %B %Y")}}</time> by <a href="/{{comment.author}}">{{comment.author}}</a>.
									</p>
										{% if comment.author == logged_in_user %}
											<form method="get">
												<p class="comment_options">
												<input type="hidden" name="comment_id" value="{{comment.comment_id}}">
												<input type="submit" class="entypo-pencil comment_option edit" value="&#x270e;">
											</form>
											<form method="post" action="/_commentdelete/{{comment.comment_id}}">
												<p class="comment_options">
												<input type="hidden" name="website_type" value="{{website_type}}">
												<input type="submit" class=" comment_option edit" value="&#x2615;">
											</form>
										{%endif%}
								</footer>
							</article>
						<!-- This next bit only appears if there are no entries in Comments.  -->
						{% else %}
							<article class="singlecomment">
								<section class="commentcontent">
									This post has no comments yet.
								</section>
							</article>
						{%endfor%}
						<!-- This is what changes when there is comment data to fill into the edit comment form. -->
						{% if post.identity==post_id %}
						<!-- Meaning, if the blog post in this loop is the same as the editable comment's original post location -->
							<form method="post">
								<label>
									<p>
										edit your comment
									</p>
									<p>
										<textarea name="content" class="commentBox">{{comment_content}}</textarea>
									</p>
								</label>
								<input type="hidden" name="comment_id" value="{{edit_comment_id}}">
								<input type="hidden" name="post_id" value="{{post.identity}}">
								<input type="submit" name="commentsubmit" class="loginSubmit newcomment" value="edit comment">
								<a href="/{{username}}">
									<span class="loginSubmit newcomment">
										cancel edit
									</span>
								</a>
							</form>
						{%else%}
							<form method="post">
								<label>
									<p>
										make a comment
									</p>
									<p>
										<textarea name="content" class="commentBox"></textarea>
									</p>
								</label>
								<input type="hidden" name="post_id" value="{{post.identity}}">
								<input type="submit" name="commentsubmit" class="loginSubmit newcomment" value="add comment">
							</form>
						{%endif%}
					</section>
				</article>
			{%else%}
			<!-- If there are no blog posts: -->
			<!-- TODO: display a different original post if the person reading is the blog owner -->
				<article class="wholepost">
					<article class="blogpost">
						<header class="blogheader">
							<h2 class="blogtitle">No Posts Yet!</h2>
							<h3>by saga</h3>
						</header>
							<section class="postcontent">
								It looks like {{username}} hasn't made any posts yet.
							</section>
					</article>
				</article>
			{%endfor%}
		</main>
		<script>
		// There are a couple of terrible things here: for one thing, I've put some JavaScript in
		// with my HTML. It's really only justified because this way I can generate the necessary
		// code at runtime and not type the same thing out 10 times and have to check every time
		// whether the relevant ID actually exists or not.
		// I'm also using IDs. For whatever reason, "getElementsByClassName" didn't work, probably
		// because all the necessary class attributes have more than one class written into them.
			{% for post in blog_posts%}
				document.getElementById('button{{loop.index}}').onclick = function() {
					var thecomment = document.getElementById('comment{{loop.index}}')
					if (thecomment.style.display==="block") {
						thecomment.style.display="none";
					}
					else {
						thecomment.style.display="block";
					}
				}

			{%endfor%}
			// this stuff just needs to be moved into a js file.
			document.getElementById('like_error_button').onclick = function() {
				document.getElementById('like_error').style.display="none";
			}
			document.getElementById('edit_delete_button').onclick = function() {
				document.getElementById('edit_delete').style.display="none";
			}
		</script>
	</body>
</html>
