<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog Homepage</title>
  <style>


  body {
    font-family:sans-serif;
    margin:0;
    background-color:grey;
  }
  main {
    width:800px;
    height:100%;
    margin:0 auto;
    padding-top:20px;
    background-color:white;
    border-radius:5px;
  }


  h1 {
      font-size:1.7em;


  }


  .postwrap{
    margin:0 auto;
    width:700px;
    padding-bottom:20px;
  }

  .time{
    float:right;

  }
.title{
  float:left;


}
.clear{
  clear:both;

}

  </style>
</head>
  <body>
    <header></header>
    <main>

      {% for element in blogposts%}
        <section class="postwrap">
        <h1 class="title">{{element.subject}}</h1>

        <p class="time">{{element.created}}</p>
        <div class="clear"></div>
        <div>{{element.content}}</div>


        </section>

      {%endfor%}
    </main>
    <footer></footer>
  </body>
</html>
