<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet"> 
  <link href="static/sagastyle.css" rel="stylesheet">   
  <title>saga - tell it here</title>


</head>
  <body class="newpagebody">
	<header class="header"> <img src = "/static/sagaLogo.svg" class = "smallLogo"> <div class="signin"> <a href="/logout">log out</a></div>
	</header>
	<main>
		<div class = "blogname newpageblogname">
		<a href="/bloghome">{{blogname}} blog name</a>
		</div>
		<div class="newformwrap">

	<section class="formwrapinner">

      <form method="post">
        <div class="subject">
        <label>
          <span class="subj_label">subject</span>
          <input type="text" name="subject" value="{{subject}}" class="newsubj typeable">
        </label>
      </div>
      <div class="content">
      <label>
      <p class="cont_label">content</p>
          <textarea name="content" class="newcont typeable">{{content}}</textarea>
      </label>
      </div>
      <p> {{ error }} </p>
      <div class="publishwrap">
      <input type="submit" class="loginSubmit publish" value="publish">
    </div>
    </section>

		</div>
	

	</main>
   
  </body>
</html>
