{% extends "base.html" %}
{% block title %}saga - tell it here{% endblock %}
{% block body %}
	<body>
		<header class="header">
			<a href="/login">
				<div class="toprightlinks login">
					log in
				</div>
			</a>
		</header>
		<main>
			<div class = "centerwrapper logowrapper whoops">
				<h1 class="whoops">
					404! whoops!
				</h1>
				<h3>
					this page doesn't exist yet.
				</h3>
				<a href="/" class="loginSubmit">
					return to homepage
				</a>
			</div>
		</main>
	</body>
{% endblock %}
