{% extends "base.html" %}
{% block title %}saga - tell it here.{% endblock %}
{% block body %}
	<body>
		<header class="header">
			<a href="/login">
				<div class="toprightlinks login">
					log in
				</div>
			</a>
		</header>
		<main>
			<div class = "centerwrapper logowrapper">
				<div>
					<img src = "/static/sagaLogo.svg" class = "logo">
				</div>
				<a href="/signup">
					<div class = "loginSubmit">
						tell it here
					</div>
				</a>
			</div>
		</main>
	</body>
{% endblock %}

